---
import Layout from "../../layouts/Layout.astro";
import Link from "../../components/Link.astro";
import HeroImage from "../../assets/images/heroimage.png";
import "../../styles/home.css";
import { technologies, techCategories } from "../../constants.ts";
import { Image } from "astro:assets";
---

<Layout
  title="Lukáš Netolický | IT nadšenec"
  description="Jsem sředoškolák, kterého baví programování a informační technologie."
>
  <section class="container hero">
    <Image src={HeroImage} alt="Fotografie Lukáše Netolického" />
    <div class="hero-section">
      <h1>Ahoj! Jsem <span class="highlight">Lukáš</span></h1>
      <p class="hero-subtitle">
        Student IT zaměřený na vývoj webových aplikací
      </p>
      <p class="hero-description">
        Jsem student IT, rád vytvářím rychlé a funkční aplikace. Baví mě
        rozkládat složité problémy na jednodušší části a tvořit praktická a
        jednoduchá řešení. Momentálně se věnuji převážně webovému vývoji a
        tvořím projekty, abych si zlepšoval své dovednosti.
      </p>
      <div class="hero-buttons">
        <Link href="/cs/projects/" type="primary">Moje projekty</Link>
        <Link href="/cs/contact/" color="secondary">Kontakt</Link>
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section class="home-section about">
    <div class="container">
      <h2>O mně</h2>
      <div class="about-content">
        <p>
          Jsem student IT, rád řeším problémy a vytvářím projekty, které
          proměňují nápady ve skutečné aplikace, které mohou lidé používat.
          Tvorba projektů mi pomáhá pochopit, jak věci skutečně fungují, a právě
          to mě motivuje
        </p>
        <p>
          V dnešní době se především zajímám o webový vývoj a psaní čistého,
          udržovatelného kódu. Rád zkoumám nové nástroje a technologie, které mi
          pomáhají vytvářet lepší software. Většina mých projektů používá React
          na frontendu, zatímco na backendu obvykle píšu v Go nebo v TypeScriptu
          s použitím Hono frameworku.
        </p>
      </div>
    </div>
  </section>

  <!-- Technologies Section -->
  <section class="container home-section">
    <h2>Technologie, které používám</h2>
    <p class="home-section-description">
      Toto jsou nástroje a technologie, které momentálně používám k vytváření
      svých projektů. Neustále se učím a zkoumám nové, abych zlepšoval své
      dovednosti.
    </p>
    <div class="tech-categories">
      {
        techCategories.map((category) => (
          <div class="tech-category">
            <h3>{category.title}</h3>
            <ul class="tech-list">
              {technologies
                .filter(
                  (tech) => tech.category === category.key && tech.homePage,
                )
                .map((tech) => (
                  <li>
                    {tech.url ? (
                      <a
                        href={tech.url}
                        class="list-item"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label={tech.name}
                      >
                        <tech.icon
                          class="tech-icon"
                          class:list={tech.lightModeIcon && "tech-icon-dark"}
                        />
                        {tech.lightModeIcon && (
                          <tech.lightModeIcon class="tech-icon tech-icon-light" />
                        )}
                      </a>
                    ) : (
                      <div class="list-item" aria-label={tech.name}>
                        <tech.icon
                          class="tech-icon"
                          class:list={tech.lightModeIcon && "tech-icon-dark"}
                        />
                        {tech.lightModeIcon && (
                          <tech.lightModeIcon class="tech-icon tech-icon-light" />
                        )}
                      </div>
                    )}
                  </li>
                ))}
            </ul>
          </div>
        ))
      }
    </div>
  </section>
</Layout>
