---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import "../../styles/post.css";
import "../../styles/technologies.css";
import Link from "../../components/Link.astro";
import TableOfContents from "../../components/TableOfContents.astro";
import Date from "../../components/Date.astro";
import { Image } from "astro:assets";
import { normalizeTech } from "../../utils/usils";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content, headings } = await render(post);
---

<Layout title={post.data.title} description={post.data.description}>
  <div class="container">
    <div class="post-header">
      <h1 transition:name={`post-title-${post.id}`}>{post.data.title}</h1>
      {
        post.data.published && (
          <div
            class="post-date"
            transition:name={`post-published-${post.id}`}
          >
            Published: <Date date={post.data.published} />
          </div>
        )
      }
      {
        post.data.technologies && (
          <div class="post-technologies">
            {post.data.technologies.map((tech) => (
              <span
                class={`technology ${normalizeTech(tech)}`}
                transition:name={`post-technology-${post.id}-${normalizeTech(tech)}`}
              >
                {tech}
              </span>
            ))}
          </div>
        )
      }
    </div>
    
    <Image
      transition:name={`post-cover-${post.id}`}
      src={post.data.cover}
      alt={post.data.coverAlt}
      class="post-image"
      loading="lazy"
      format="avif"
      width={1200}
      height={630}
      quality={70}
      decoding="async"
    />

    <div class="post-content-wrapper">
      {headings.length > 0 && <TableOfContents headings={headings} />}

      <div class="post-content">
        <Content />
      </div>
    </div>

    <div class="back-link">
      <Link href="/posts" type="primary" size="small" color="primary">
        ← Back to Blog
      </Link>
    </div>
  </div>
</Layout>