---
import type { CollectionEntry } from "astro:content";
import "../styles/card.css"
import "../styles/technologies.css";
import Date from "./Date.astro";
import { Image } from "astro:assets";
import Link from "./Link.astro";
import { normalizeTech } from "../utils/usils";

const {
  data: { title, description, technologies, cover, coverAlt, published },
  id,
} = Astro.props as CollectionEntry<"blog">;
---

<article class="card">
  <Image
    transition:name={`post-cover-${id}`}
    src={cover}
    alt={coverAlt}
    loading="lazy"
    quality={50}
    class="image"
    width={500}
    height={300}
    format="avif"
  />
  <div class="content">
    <h2 transition:name={`post-title-${id}`}>{title}</h2>
    {
      published && (
        <div class="date" transition:name={`post-published-${id}`}>
          Published: <Date date={published} />
        </div>
      )
    }
    <div class="technologies">
      {
        technologies.map((tech) => (
          <span
            class={`technology ${normalizeTech(tech)}`}
            transition:name={`post-technology-${id}-${normalizeTech(tech)}`}
          >
            {tech}
          </span>
        ))
      }
    </div>
    <p>
      {
        description.length > 100
          ? description.substring(0, 150) + "..."
          : description
      }
    </p>
    <div class="links" transition:name={`post-links-${id}`}>
      <Link href={`/blog/${id}`} size="small" type="primary">
        View Details
      </Link>
    </div>
  </div>
</article>
