---
import type { CollectionEntry } from "astro:content";
import "../styles/card.css";
import "../styles/technologies.css";
import Date from "./Date.astro";
import { Image } from "astro:assets";
import Link from "./Link.astro";
import { normalizeTech } from "../utils/usils";
import { getRelativeLocaleUrl } from "astro:i18n";

const {
  data: {
    title,
    description,
    technologies,
    cover,
    coverAlt,
    demo,
    source,
    featured = false,
    published,
  },
  id,
} = Astro.props as CollectionEntry<"projects">;
---

<article class={`card ${featured ? "featured" : ""}`}>
  {featured && <span class="featured-badge">Featured</span>}
  <Image
    transition:name={`project-cover-${id}`}
    src={cover}
    alt={coverAlt}
    loading="lazy"
    quality={50}
    class="image"
    width={500}
    height={300}
  />
  <div class="content">
    <h2 transition:name={`project-title-${id}`}>{title}</h2>
    {
      published && (
        <div class="date" transition:name={`project-published-${id}`}>
          Published: <Date date={published} />
        </div>
      )
    }
    <div class="technologies">
      {
        technologies.map((tech) => (
          <span
            class={`technology ${normalizeTech(tech)}`}
            transition:name={`project-technology-${id}-${normalizeTech(tech)}`}
          >
            {tech}
          </span>
        ))
      }
    </div>
    <p>
      {
        description.length > 100
          ? description.substring(0, 150) + "..."
          : description
      }
    </p>
    <div class="links" transition:name={`project-links-${id}`}>
      <Link
        href={getRelativeLocaleUrl(
          Astro.currentLocale || "en",
          `/projects/${id}`,
        )}
        size="small"
        type="primary"
      >
        View Details
      </Link>
      {
        demo && (
          <Link href={demo} target="_blank" size="small" color="secondary">
            Live Demo
          </Link>
        )
      }
      {
        source && (
          <Link
            href={source}
            size="small"
            type="secondary"
            color="primary"
            target="_blank"
          >
            Source Code
          </Link>
        )
      }
    </div>
  </div>
</article>
